{
  "gameVersion": "6.24.6",
  "sha256": "8a9195c12b32251779a4fd4fdb1eaf5bdf674671ca2a2e2e913ed6fb6bc4d362",
  "url": "https://raw.githubusercontent.com/Byanka-Rail/eternal-patrol/main/ETERNAL_PATROL_v6.24.6_공식원본_FP16_자체호스팅_MENU통합.html"
}
